<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <h2>{{Title}}</h2>
        <style>
            .error{
                color: red;
            }
        </style>
    </head>
<body>
    <div>
        <a href='/logout'>log out</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category, message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}

    {% endblock %}

    <nav>
        <a href="/home">Blog Author List</a> 
    </nav>

    <nav>
        <a href="/">All Content</a> 
    </nav>
</body>
</html>