{% extends "base.html" %}

{% block content %}
    <h1>Build a Blog blog</h1>
    <form method='post' action='/add_post'>
        <input type='submit' name='new_post' value='Create a new post' />
    <hr />

    <br>
    <h2>Old Posts</h2>

    <ul>
        {% for post in posts %}
            <h3><a href ='/single?id={{post.post_id}}'>{{post.title}}</a></h3>
            <h5>Written by <a href="/one_user?id={{post.owner_id}}">{{post.owner.username}}
                </a></h5>
            <p>{{post.content}}</p>
            <br>
                   
        {% endfor %}
    </ul>

{% endblock %}