{% extends "base.html" %}

{% block content %}
    <h1>Log in</h1>
    <form method="post">
        <table>
            <tr>
                <td><label for='username'>User Name</label></td>
                <td>
                    <input name='username' type='text' value ="{{username}}" >
                </td>
            </tr>
    
        <tr>
            <td><label for='password'>Password</label></td>
            <td>
                <input name='password' type='password' >
            </td>
        </tr>
        </table>
        <br>
        <input type='submit' value='Submit'>
    </form>
    <br>

   <a href='/signup'>Register as a blog user</a>

    
{% endblock %}